@media (min-width : 1400px) {
    .video_container {
        height: 0px;
        max-width: 1024px;
        width: 90%;
        height: 90%;
        margin: 5%;
    
        background-color: #000;
    
        position: relative;

        padding-top: 0%;
    }

}

@media (max-width : 780px) {
    .logo_cont {
        text-align: center;
    }

    .wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: flex;
    }

    .right,
    .left {
        position: static;
        width: 100%;
        height: auto;
        min-height: auto;
        display: block;
    }

    .right .cc,
    .left .cc {
        display: block;
        height: auto;
        text-align: center;
        padding: 0px;
    }

    .wlogo {
        opacity: 1 !important;
        transform: none !important;
        transition: none !important;
    }

    .logo {
        max-width: 300px;
        margin: 50px auto;
    }

    .show_adapt {
        display: block;
    }

    .hide_adapt {
        display: none;
    }
}

@media (max-width : 600px) {
    .header {
        font-size: 44px;
    }

    .button a {
        width: 240px;
    }

    .logo {
        max-width: 120px;
        margin: 0px auto;
        padding: 40px 0px;
    }
}